@font-face {
    font-family: 'shabnam';
    src: url('./files/fonts/shabnam/Shabnam-FD.eot'); /* IE9 Compat Modes */
    src: url('./files/fonts/shabnam/Shabnam-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./files/fonts/shabnam/Shabnam-FD.woff2') format('woff2'), /* Super Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-FD.woff') format('woff'), /* Pretty Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-FD.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'shabnam';
    src: url('./files/fonts/shabnam/Shabnam-Bold-FD.eot'); /* IE9 Compat Modes */
    src: url('./files/fonts/shabnam/Shabnam-Bold-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./files/fonts/shabnam/Shabnam-Bold-FD.woff2') format('woff2'), /* Super Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-Bold-FD.woff') format('woff'), /* Pretty Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-Bold-FD.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-style: bold;
    font-weight: bold;
}
@font-face {
    font-family: 'shabnam';
    src: url('./files/fonts/shabnam/Shabnam-Light-FD.eot'); /* IE9 Compat Modes */
    src: url('./files/fonts/shabnam/Shabnam-Light-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./files/fonts/shabnam/Shabnam-Light-FD.woff2') format('woff2'), /* Super Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-Light-FD.woff') format('woff'), /* Pretty Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-Light-FD.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-style: light;
    font-weight: light;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: shabnam !important;
    font-size: 16px;
}