:root{ 
    --main: #6BBB26;
    --main-light: #F1FDD6;
    --second: #138173;
    --second-light: #1EA182;
    --gray: #eee;
    --gray-light: #f5f5f5;
    --gray-dark: #9E9E9E;
    --white: #fff;
    --black: #212121;
    --overlay: rgba(0,0,0,.04);
}
@font-face {
    font-family: 'shabnam';
    src: url('./files/fonts/shabnam/Shabnam-FD.eot'); /* IE9 Compat Modes */
    src: url('./files/fonts/shabnam/Shabnam-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./files/fonts/shabnam/Shabnam-FD.woff2') format('woff2'), /* Super Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-FD.woff') format('woff'), /* Pretty Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-FD.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'shabnam';
    src: url('./files/fonts/shabnam/Shabnam-Bold-FD.eot'); /* IE9 Compat Modes */
    src: url('./files/fonts/shabnam/Shabnam-Bold-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./files/fonts/shabnam/Shabnam-Bold-FD.woff2') format('woff2'), /* Super Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-Bold-FD.woff') format('woff'), /* Pretty Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-Bold-FD.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-style: bold;
    font-weight: bold;
}
@font-face {
    font-family: 'shabnam';
    src: url('./files/fonts/shabnam/Shabnam-Light-FD.eot'); /* IE9 Compat Modes */
    src: url('./files/fonts/shabnam/Shabnam-Light-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./files/fonts/shabnam/Shabnam-Light-FD.woff2') format('woff2'), /* Super Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-Light-FD.woff') format('woff'), /* Pretty Modern Browsers */
         url('./files/fonts/shabnam/Shabnam-Light-FD.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-style: light;
    font-weight: light;
}
::selection{
    background-color: var(--second-light);
    color: var(--white);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: shabnam !important;
    font-size: 18px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.container-fluid{
    max-width: 1280px;
}


/* ---------------------------------  
  Global Style for Mini Component 
---------------------------------- */


badge.percent{
    background-color: var(--second);
    color: var(--white);
    padding: 5px 16px 0 16px;
    border-radius: 20px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
del{
    color: var(--gray-dark);
}
.percent , del{
    font-size: 15px;
    font-weight: bold;
}
ins.price{
    color: var(--second);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.offer-des{
    color: var(--gray-dark);
    font-size: .9em;
    margin: 7px 0;
}






@media screen and (max-width:768px){
    body{
        font-size: 16px;
    }
}
